{% extends "bootstrap/base.html" %}

{% block title %}Issue Tracker{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock styles%}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('issue.index') }}">Issues</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.index') }}">Home</a></li>                
                <li><a href="{{ url_for('issue.issue') }}">New Issue</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li>
                <a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out"></i>Log Out</a>
                </li>
                <li><a href="#"><i class="fa fa-user"></i> {{ current_user.username|capitalize }}</a></li>
                {% else %}
                <li>
                <a href="{{ url_for('auth.login') }}"><i class="fa fa-sign-in"></i> Log In</a>
                </li>
                <li>
                <a href="{{ url_for('auth.register') }}"><i class="fa fa-user-plus"></i> Join Us</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="col-md-4 col-md-offset-4">
        <div class="alert alert-warning text-center">    
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    </div>    
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

