{% extends "base.html" %}

{% block title %}Issues{% endblock %}

{% block page_content %}
<div class="jumbotron text-center">
    <h1>
      <a href="{{ url_for('issue.index') }}"><i class="text-danger fa fa-exclamation-circle fa-lg"></i></a>
    </h1>
    <h2>Issues</h2>
    <p class="lead">Let's help you manage <em>some</em> of your issues.</p>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('issue.issue') }}" class="btn btn-success btn-lg"><i class="fa fa-plus"></i> New Issue</a>
    <a href="{{ url_for('issue.index') }}" class="btn btn-success btn-lg">View Issues <span class="badge">{{ issues }}</span></a>
    {% else %}
    <a href="{{ url_for('auth.register') }}" class="btn btn-success btn-lg">Join Issues</a>    
    {% endif %}
</div>
{% endblock %}
